<h1>{{book.book_title}}</h1>

{% if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}
<h4>This book is rated {{stars}}/5</h4>
<ul>
{% for review in book.bookreview_set.all %}
<li>{{ review.review_text }}</li>
{% endfor %}
</ul>

<h2>Write A Review</h2>
<form action="{% url 'BookStoreApp:bookreview' book.id %}" method="post">
    {% csrf_token %}
    <select name="stars" id="stars">
        <option value=1>1 Star</option>
        <option value=2>2 Stars</option>
        <option value=3>3 Stars</option>
        <option value=4>4 Stars</option>
        <option value=5>5 Stars</option>
    </select>
    <input type="text" name="review" id="review"/>
    <input type="submit"/>
</form>